<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>롤퍼즐 - <%- champion.name %></title>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/components/materialize/dist/css/materialize.min.css"/>
  <% if (ENV_DEVELOPMENT) { %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
</head>
