<!DOCTYPE html>
<html lang="ko">
  <% include partials/head %>
  <body>
    <div class="container">
      <!-- Page Content goes here -->
      <div class="row">
        <div class="col s12 m6">
          <%- message %>
          <%- error.status %>
          <%- error.stack %>
        </div>
      </div>
    </div>
    <% include partials/scripts %>
  </body>
</html>
