<!DOCTYPE html>
<html lang="ko">
  <% include partials/head %>
  <link type="text/css" rel="stylesheet" href="/plugins/jQuery-snapPuzzle/jquery.snap-puzzle.css"/>
  <link type="text/css" rel="stylesheet" href="/css/style.css"/>
  <body>
    <div class="container" id="app" v-cloak>
      <div id="backdrop" class="valign-wrapper">
        <button @click="startPuzzle" type="button" class="waves-effect waves-light btn red">시작하기</button>
      </div>
      <div class="row">
        <div class="col s12">
          <h1 class="center-align">
            <%= champion.name %>
          </h1>
          <h5>
            <span>난이도:
              <%= leveltext %></span>

            <span class="right">
              {{ timer }}초
            </span>
          </h5>
          <img id="source_image" src="<%= 'http://ddragon.leagueoflegends.com/cdn/img/champion/splash/' + champion.id + '_0.jpg' %>" data-rows="<%= rows %>" data-columns="<%= columns %>" width="100%">
        </div>

        <div class="col s12">
          <template v-if="isSuccess" style="margin: 50px">
            <h5 class="center">
              성공! 당신의 기록은
              {{ timer }}초 입니다.
            </h5>
          </template>

          <template v-else>
            <div id="pile"></div>
          </template>
        </div>
      </div>
    </div>

    <footer></footer>

    <% include partials/scripts %>
    <script type="text/javascript" src="/plugins/jQuery-snapPuzzle/jquery.snap-puzzle.js"></script>
    <script type="text/javascript" src="/plugins/jQuery-snapPuzzle/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({google_ad_client: "ca-pub-4160236743425285", enable_page_level_ads: true});
    </script>
  </body>
</html>
