.snappuzzle-wrap {
  position: relative;
  display: block;
}
.snappuzzle-pile {
  position: relative;
}
.snappuzzle-piece {
  cursor: move;
  border: 1px solid red;
}
.snappuzzle-slot {
  position: absolute;
  background: #fff;
  opacity: 0.8;
  border: 1px solid #eee;
}
.snappuzzle-slot-hover {
  background: #eee;
}
#source_image {
  border: 4px solid black;
}
body,
html {
  height: 100%;
}
[v-cloak] {
  display: none;
}
#pile {
  margin-top: 30px;
  min-height: 150px;
}
#backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  padding: 0.75rem;
}
#backdrop .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 550px;
  width: 90%;
}
.container {
  max-width: 600px;
}
small {
  font-size: 50%;
}
